@import "tailwindcss";

:root {
}

@theme inline {
  --font-brand: "Georgia", "Times New Roman", serif;
  --font-texts: "Arial", "Tahoma", sans-serif;

  --background-image-hero-chess: linear-gradient(180deg, #c4c4c488 0%, #00000081 100%), url('../assets/hero__chess.jpg');
  --background-image-game-chess: linear-gradient(180deg, #535353c1 0%, #0000005f 100%), url(../assets/game_chess.jpg);
  --background-image-game-checkers: linear-gradient(180deg, #535353c1 0%, #0000005f 100%), url(../assets/game_checkers.jpg);
  --background-image-game-go: linear-gradient(180deg, #535353c1 0%, #0000005f 100%), url(../assets/game_go.jpg);
  --background-image-game-backgammon: linear-gradient(180deg, #535353c1 0%, #0000005f 100%), url(../assets/game_backgammon.jpg);

  --board-cols: repeat(8, minmax(1.5rem, 1fr));
}

.nav {
  --close: none;
  --hamburguer: block;
  --transform: translate(-100%);
  grid-template-areas: "logo active";
}

.nav:target {
  --close: block;
  --hamburguer: none;
  --transform: translate(0);
}

.nav__links {
  place-content: center start;
  transform: var(--transform);
  transition: transform .4s;
}

.nav__hamburguer,
.nav__close {
  grid-area: active;
}

.nav__hamburguer {
  display: var(--hamburguer);
}

.nav__close {
  display: var(--close);
}

.piece__size{
  font-size: 1.75rem;
}

.checker-shadow {
  box-shadow: 0px 3px 1px rgba(0,0,0, 0.7);
}

.sa-1{grid-area: sa-1;}
.sb-1{grid-area: sb-1;}
.sc-1{grid-area: sc-1;}
.sd-1{grid-area: sd-1;}
.se-1{grid-area: se-1;}
.sf-1{grid-area: sf-1;}
.sg-1{grid-area: sg-1;}
.sh-1{grid-area: sh-1;}

.sa-2{grid-area: sa-2;}
.sb-2{grid-area: sb-2;}
.sc-2{grid-area: sc-2;}
.sd-2{grid-area: sd-2;}
.se-2{grid-area: se-2;}
.sf-2{grid-area: sf-2;}
.sg-2{grid-area: sg-2;}
.sh-2{grid-area: sh-2;}

.sa-3{grid-area: sa-3;}
.sb-3{grid-area: sb-3;}
.sc-3{grid-area: sc-3;}
.sd-3{grid-area: sd-3;}
.se-3{grid-area: se-3;}
.sf-3{grid-area: sf-3;}
.sg-3{grid-area: sg-3;}
.sh-3{grid-area: sh-3;}

.sa-4{grid-area: sa-4;}
.sb-4{grid-area: sb-4;}
.sc-4{grid-area: sc-4;}
.sd-4{grid-area: sd-4;}
.se-4{grid-area: se-4;}
.sf-4{grid-area: sf-4;}
.sg-4{grid-area: sg-4;}
.sh-4{grid-area: sh-4;}

.sa-5{grid-area: sa-5;}
.sb-5{grid-area: sb-5;}
.sc-5{grid-area: sc-5;}
.sd-5{grid-area: sd-5;}
.se-5{grid-area: se-5;}
.sf-5{grid-area: sf-5;}
.sg-5{grid-area: sg-5;}
.sh-5{grid-area: sh-5;}

.sa-6{grid-area: sa-6;}
.sb-6{grid-area: sb-6;}
.sc-6{grid-area: sc-6;}
.sd-6{grid-area: sd-6;}
.se-6{grid-area: se-6;}
.sf-6{grid-area: sf-6;}
.sg-6{grid-area: sg-6;}
.sh-6{grid-area: sh-6;}

.sa-7{grid-area: sa-7;}
.sb-7{grid-area: sb-7;}
.sc-7{grid-area: sc-7;}
.sd-7{grid-area: sd-7;}
.se-7{grid-area: se-7;}
.sf-7{grid-area: sf-7;}
.sg-7{grid-area: sg-7;}
.sh-7{grid-area: sh-7;}

.sa-8{grid-area: sa-8;}
.sb-8{grid-area: sb-8;}
.sc-8{grid-area: sc-8;}
.sd-8{grid-area: sd-8;}
.se-8{grid-area: se-8;}
.sf-8{grid-area: sf-8;}
.sg-8{grid-area: sg-8;}
.sh-8{grid-area: sh-8;}

.sa-9{grid-area: sa-9;}
.sb-9{grid-area: sb-9;}
.sc-9{grid-area: sc-9;}
.sd-9{grid-area: sd-9;}
.se-9{grid-area: se-9;}
.sf-9{grid-area: sf-9;}
.sg-9{grid-area: sg-9;}
.sh-9{grid-area: sh-9;}

.sa-10{grid-area: sa-10;}
.sb-10{grid-area: sb-10;}
.sc-10{grid-area: sc-10;}
.sd-10{grid-area: sd-10;}
.se-10{grid-area: se-10;}
.sf-10{grid-area: sf-10;}
.sg-10{grid-area: sg-10;}
.sh-10{grid-area: sh-10;}

.sa-11{grid-area: sa-11;}
.sb-11{grid-area: sb-11;}
.sc-11{grid-area: sc-11;}
.sd-11{grid-area: sd-11;}
.se-11{grid-area: se-11;}
.sf-11{grid-area: sf-11;}
.sg-11{grid-area: sg-11;}
.sh-11{grid-area: sh-11;}

.sa-12{grid-area: sa-12;}
.sb-12{grid-area: sb-12;}
.sc-12{grid-area: sc-12;}
.sd-12{grid-area: sd-12;}
.se-12{grid-area: se-12;}
.sf-12{grid-area: sf-12;}
.sg-12{grid-area: sg-12;}
.sh-12{grid-area: sh-12;}

@media (orientation: portrait) {
  .board-areas {
    grid-template-columns: repeat(8, minmax(1.5rem, 1fr));
    grid-template-areas:
      "sa-1 sb-1 sc-1 sd-1 se-1 sf-1 sg-1 sh-1" 
      "sa-2 sb-2 sc-2 sd-2 se-2 sf-2 sg-2 sh-2" 
      "sa-3 sb-3 sc-3 sd-3 se-3 sf-3 sg-3 sh-3" 
      "sa-4 sb-4 sc-4 sd-4 se-4 sf-4 sg-4 sh-4" 
      "sa-5 sb-5 sc-5 sd-5 se-5 sf-5 sg-5 sh-5" 
      "sa-6 sb-6 sc-6 sd-6 se-6 sf-6 sg-6 sh-6" 
      "sa-7 sb-7 sc-7 sd-7 se-7 sf-7 sg-7 sh-7" 
      "sa-8 sb-8 sc-8 sd-8 se-8 sf-8 sg-8 sh-8" 
      "sa-9 sb-9 sc-9 sd-9 se-9 sf-9 sg-9 sh-9" 
      "sa-10 sb-10 sc-10 sd-10 se-10 sf-10 sg-10 sh-10" 
      "sa-11 sb-11 sc-11 sd-11 se-11 sf-11 sg-11 sh-11" 
      "sa-12 sb-12 sc-12 sd-12 se-12 sf-12 sg-12 sh-12" 
    ;
  }
}

@media (orientation: landscape) {
  .board-areas {
    grid-template-columns: repeat(12, minmax(1.5rem, 1fr));
    grid-template-areas:
      "sa-1 sa-2  sa-3 sb-3 sc-3 sd-3 se-3 sf-3 sg-3 sh-3 sa-11 sa-12"
      "sb-1 sb-2  sa-4 sb-4 sc-4 sd-4 se-4 sf-4 sg-4 sh-4 sb-11 sb-12"
      "sc-1 sc-2  sa-5 sb-5 sc-5 sd-5 se-5 sf-5 sg-5 sh-5 sc-11 sc-12"
      "sd-1 sd-2  sa-6 sb-6 sc-6 sd-6 se-6 sf-6 sg-6 sh-6 sd-11 sd-12"
      "se-1 se-2  sa-7 sb-7 sc-7 sd-7 se-7 sf-7 sg-7 sh-7 se-11 se-12"
      "sf-1 sf-2  sa-8 sb-8 sc-8 sd-8 se-8 sf-8 sg-8 sh-8 sf-11 sf-12"
      "sg-1 sg-2  sa-9 sb-9 sc-9 sd-9 se-9 sf-9 sg-9 sh-9 sg-11 sg-12"
      "sh-1 sh-2  sa-10 sb-10 sc-10 sd-10 se-10 sf-10 sg-10 sh-10 sh-11 sh-12"
    ;
  }
}

@media (min-width:768px) {
  .nav {
    --hamburguer: none;
  }

  .nav:target {
    --close: none;
    --hamburguer: none;
  }

  .nav__links {
    transform: unset;
    place-content: center start;
  }
}

@media (min-width: 600px) and (min-height: 500px) {
  .piece__size {
    font-size: 2.25rem;
  }
}

@media (min-width: 1500px), (min-height: 1500px) {
  .piece__size {
    font-size: 3.25rem;
  }
}

