@import "tailwindcss";

:root {
}

@theme inline {
  --font-brand: "Georgia", "Times New Roman", serif;
  --font-texts: "Arial", "Tahoma", sans-serif;

  --background-image-hero-chess: linear-gradient(180deg, #c4c4c488 0%, #00000081 100%), url('../assets/hero__chess.jpg');
  --background-image-game-chess: linear-gradient(180deg, #535353c1 0%, #0000005f 100%), url(../assets/game_chess.jpg);
  --background-image-game-checkers: linear-gradient(180deg, #535353c1 0%, #0000005f 100%), url(../assets/game_checkers.jpg);
  --background-image-game-go: linear-gradient(180deg, #535353c1 0%, #0000005f 100%), url(../assets/game_go.jpg);
  --background-image-game-backgammon: linear-gradient(180deg, #535353c1 0%, #0000005f 100%), url(../assets/game_backgammon.jpg);
  --background-image-game-ludo: linear-gradient(180deg, #535353c1 0%, #0000005f 100%), url(../assets/game_ludo.jpg);
  --background-image-game-gomoku: linear-gradient(180deg, #535353c1 0%, #0000005f 100%), url(../assets/game_gomoku.jpg);
  --background-image-game-morris: linear-gradient(180deg, #535353c1 0%, #0000005f 100%), url(../assets/game_morris.jpg);
  --background-image-game-snake: linear-gradient(180deg, #535353c1 0%, #0000005f 100%), url(../assets/game_snake.jpg);

  --board-cols: repeat(8, minmax(1.5rem, 1fr));
}

.nav {
  --close: none;
  --hamburguer: block;
  --transform: translate(-100%);
  grid-template-areas: "logo active";
}

.nav:target {
  --close: block;
  --hamburguer: none;
  --transform: translate(0);
}

.nav__links {
  place-content: center start;
  transform: var(--transform);
  transition: transform .4s;
}

.nav__hamburguer,
.nav__close {
  grid-area: active;
}

.nav__hamburguer {
  display: var(--hamburguer);
}

.nav__close {
  display: var(--close);
}

.piece__size{
  font-size: 1.75rem;
}

.checker-shadow {
  box-shadow: 0px 3px 1px rgba(0,0,0, 0.7);
}

.sqr0-0{grid-area: sqr0-0;}
.sqr0-1{grid-area: sqr0-1;}
.sqr0-2{grid-area: sqr0-2;}
.sqr0-3{grid-area: sqr0-3;}
.sqr0-4{grid-area: sqr0-4;}
.sqr0-5{grid-area: sqr0-5;}
.sqr0-6{grid-area: sqr0-6;}
.sqr0-7{grid-area: sqr0-7;}

.sqr1-0{grid-area: sqr1-0;}
.sqr1-1{grid-area: sqr1-1;}
.sqr1-2{grid-area: sqr1-2;}
.sqr1-3{grid-area: sqr1-3;}
.sqr1-4{grid-area: sqr1-4;}
.sqr1-5{grid-area: sqr1-5;}
.sqr1-6{grid-area: sqr1-6;}
.sqr1-7{grid-area: sqr1-7;}

.sqr2-0{grid-area: sqr2-0;}
.sqr2-1{grid-area: sqr2-1;}
.sqr2-2{grid-area: sqr2-2;}
.sqr2-3{grid-area: sqr2-3;}
.sqr2-4{grid-area: sqr2-4;}
.sqr2-5{grid-area: sqr2-5;}
.sqr2-6{grid-area: sqr2-6;}
.sqr2-7{grid-area: sqr2-7;}

.sqr3-0{grid-area: sqr3-0;}
.sqr3-1{grid-area: sqr3-1;}
.sqr3-2{grid-area: sqr3-2;}
.sqr3-3{grid-area: sqr3-3;}
.sqr3-4{grid-area: sqr3-4;}
.sqr3-5{grid-area: sqr3-5;}
.sqr3-6{grid-area: sqr3-6;}
.sqr3-7{grid-area: sqr3-7;}

.sqr4-0{grid-area: sqr4-0;}
.sqr4-1{grid-area: sqr4-1;}
.sqr4-2{grid-area: sqr4-2;}
.sqr4-3{grid-area: sqr4-3;}
.sqr4-4{grid-area: sqr4-4;}
.sqr4-5{grid-area: sqr4-5;}
.sqr4-6{grid-area: sqr4-6;}
.sqr4-7{grid-area: sqr4-7;}

.sqr5-0{grid-area: sqr5-0;}
.sqr5-1{grid-area: sqr5-1;}
.sqr5-2{grid-area: sqr5-2;}
.sqr5-3{grid-area: sqr5-3;}
.sqr5-4{grid-area: sqr5-4;}
.sqr5-5{grid-area: sqr5-5;}
.sqr5-6{grid-area: sqr5-6;}
.sqr5-7{grid-area: sqr5-7;}

.sqr6-0{grid-area: sqr6-0;}
.sqr6-1{grid-area: sqr6-1;}
.sqr6-2{grid-area: sqr6-2;}
.sqr6-3{grid-area: sqr6-3;}
.sqr6-4{grid-area: sqr6-4;}
.sqr6-5{grid-area: sqr6-5;}
.sqr6-6{grid-area: sqr6-6;}
.sqr6-7{grid-area: sqr6-7;}

.sqr7-0{grid-area: sqr7-0;}
.sqr7-1{grid-area: sqr7-1;}
.sqr7-2{grid-area: sqr7-2;}
.sqr7-3{grid-area: sqr7-3;}
.sqr7-4{grid-area: sqr7-4;}
.sqr7-5{grid-area: sqr7-5;}
.sqr7-6{grid-area: sqr7-6;}
.sqr7-7{grid-area: sqr7-7;}

.sqr8-0{grid-area: sqr8-0;}
.sqr8-1{grid-area: sqr8-1;}
.sqr8-2{grid-area: sqr8-2;}
.sqr8-3{grid-area: sqr8-3;}
.sqr8-4{grid-area: sqr8-4;}
.sqr8-5{grid-area: sqr8-5;}
.sqr8-6{grid-area: sqr8-6;}
.sqr8-7{grid-area: sqr8-7;}

.sqr9-0{grid-area: sqr9-0;}
.sqr9-1{grid-area: sqr9-1;}
.sqr9-2{grid-area: sqr9-2;}
.sqr9-3{grid-area: sqr9-3;}
.sqr9-4{grid-area: sqr9-4;}
.sqr9-5{grid-area: sqr9-5;}
.sqr9-6{grid-area: sqr9-6;}
.sqr9-7{grid-area: sqr9-7;}

.sqr10-0{grid-area: sqr10-0;}
.sqr10-1{grid-area: sqr10-1;}
.sqr10-2{grid-area: sqr10-2;}
.sqr10-3{grid-area: sqr10-3;}
.sqr10-4{grid-area: sqr10-4;}
.sqr10-5{grid-area: sqr10-5;}
.sqr10-6{grid-area: sqr10-6;}
.sqr10-7{grid-area: sqr10-7;}

.sqr11-0{grid-area: sqr11-0;}
.sqr11-1{grid-area: sqr11-1;}
.sqr11-2{grid-area: sqr11-2;}
.sqr11-3{grid-area: sqr11-3;}
.sqr11-4{grid-area: sqr11-4;}
.sqr11-5{grid-area: sqr11-5;}
.sqr11-6{grid-area: sqr11-6;}
.sqr11-7{grid-area: sqr11-7;}

@media (orientation: portrait) {
  .board-areas {
    grid-template-columns: repeat(8, 1fr);
    grid-template-areas:
      "sqr0-0 sqr0-1 sqr0-2 sqr0-3 sqr0-4 sqr0-5 sqr0-6 sqr0-7"
      "sqr1-0 sqr1-1 sqr1-2 sqr1-3 sqr1-4 sqr1-5 sqr1-6 sqr1-7"
      "sqr2-0 sqr2-1 sqr2-2 sqr2-3 sqr2-4 sqr2-5 sqr2-6 sqr2-7"
      "sqr3-0 sqr3-1 sqr3-2 sqr3-3 sqr3-4 sqr3-5 sqr3-6 sqr3-7"
      "sqr4-0 sqr4-1 sqr4-2 sqr4-3 sqr4-4 sqr4-5 sqr4-6 sqr4-7"
      "sqr5-0 sqr5-1 sqr5-2 sqr5-3 sqr5-4 sqr5-5 sqr5-6 sqr5-7"
      "sqr6-0 sqr6-1 sqr6-2 sqr6-3 sqr6-4 sqr6-5 sqr6-6 sqr6-7"
      "sqr7-0 sqr7-1 sqr7-2 sqr7-3 sqr7-4 sqr7-5 sqr7-6 sqr7-7"
      "sqr8-0 sqr8-1 sqr8-2 sqr8-3 sqr8-4 sqr8-5 sqr8-6 sqr8-7"
      "sqr9-0 sqr9-1 sqr9-2 sqr9-3 sqr9-4 sqr9-5 sqr9-6 sqr9-7"
      "sqr10-0 sqr10-1 sqr10-2 sqr10-3 sqr10-4 sqr10-5 sqr10-6 sqr10-7"
      "sqr11-0 sqr11-1 sqr11-2 sqr11-3 sqr11-4 sqr11-5 sqr11-6 sqr11-7"
    ;
  }
}

@media (orientation: landscape) {
  .board-areas {
    grid-template-columns: repeat(12, minmax(1.5rem, 1fr));
    grid-template-areas:
      "sqr0-0 sqr1-0 sqr2-0 sqr2-1 sqr2-2 sqr2-3 sqr2-4 sqr2-5 sqr2-6 sqr2-7 sqr10-0 sqr11-0"
      "sqr0-1 sqr1-1 sqr3-0 sqr3-1 sqr3-2 sqr3-3 sqr3-4 sqr3-5 sqr3-6 sqr3-7 sqr10-1 sqr11-1"
      "sqr0-2 sqr1-2 sqr4-0 sqr4-1 sqr4-2 sqr4-3 sqr4-4 sqr4-5 sqr4-6 sqr4-7 sqr10-2 sqr11-2"
      "sqr0-3 sqr1-3 sqr5-0 sqr5-1 sqr5-2 sqr5-3 sqr5-4 sqr5-5 sqr5-6 sqr5-7 sqr10-3 sqr11-3"
      "sqr0-4 sqr1-4 sqr6-0 sqr6-1 sqr6-2 sqr6-3 sqr6-4 sqr6-5 sqr6-6 sqr6-7 sqr10-4 sqr11-4"
      "sqr0-5 sqr1-5 sqr7-0 sqr7-1 sqr7-2 sqr7-3 sqr7-4 sqr7-5 sqr7-6 sqr7-7 sqr10-5 sqr11-5"
      "sqr0-6 sqr1-6 sqr8-0 sqr8-1 sqr8-2 sqr8-3 sqr8-4 sqr8-5 sqr8-6 sqr8-7 sqr10-6 sqr11-6"
      "sqr0-7 sqr1-7 sqr9-0 sqr9-1 sqr9-2 sqr9-3 sqr9-4 sqr9-5 sqr9-6 sqr9-7 sqr10-7 sqr11-7"
    ;
  }
}

@media (min-width:768px) {
  .nav {
    --hamburguer: none;
  }

  .nav:target {
    --close: none;
    --hamburguer: none;
  }

  .nav__links {
    transform: unset;
    place-content: center start;
  }
}

@media (min-width: 600px) and (min-height: 500px) {
  .piece__size {
    font-size: 2.5rem;
  }
}

@media (min-width: 1500px), (min-height: 1500px) {
  .piece__size {
    font-size: 3.25rem;
  }
}

/* Animations */

@keyframes appear {
  from {
    opacity: 0;
    scale: 0.9;
  }
  to {
    opacity: 1;
    scale: 1;
  }
}

.appear__main__element {
  animation: appear .4s linear;
}
